@media  screen and(max-width: 768px){
    div.slide{
        padding:30vh 50px;

        h3.slide_first_heading{
            font-size:14px;
        }
        h1.slide_second_heading{
            font-size:60px;
        }
        p.slide_description{
            font-size:10px;
            width:70%;
        }
        a.slide_link{
            font-size:12px;
        }
        
    }
}