@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --main-font-color:#ffffff;
    --main-text-font:'Roboto','sans-serif';
    --title-text-font:'Viga';
    --description-text-color:rgba(255, 255, 255, 0.7);
   
}